{% extends "layout.html" %}

{% block content %}
<table>
<th>Conferences</th>
  <tr>
  <td></td>
  <td>Conference Name</td>
  <td>Acronym</td>
  <td>District</td>
  <td>Country</td>
  <td>Venue</td>
  <td>Start Date</td>
  <td>End Date</td>
  </tr>
{% for conf in conferences %}
  <tr>
  <td><form method="POST" action="/editEvent"><input type="submit" value="Edit" name="edit" /></td>
  <td><input type="text" name="a" disabled value="{{conf[1]}}"/></td>
  <td><input type="text" name="b" disabled value="{{conf[2]}}"/></td>
  <td><input type="text" name="c" disabled value="{{conf[3]}}"/></td>
  <td><input type="text" name="d" disabled value="{{conf[4]}}"/></td>
  <td><input type="text" name="e" disabled value="{{conf[5]}}"/></td>
  <td><input type="text" name="f" disabled value="{{conf[6]}}"/></td>
  <td><input type="text" name="g" disabled value="{{conf[7]}}"/></td>
  </form>
  </tr>
{% endfor %}
</table>
{% endblock %}
